.home-container {
  background-color: white;
  color: black;
  text-align: center;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 50px auto;
}

.home-container h1 {
  color: #32a852;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.home-container p {
  font-size: 1.2em;
}
